version: "3.9"
services:
  db:
    image: "postgres:14.1"
    container_name: "rails_vite_inertia_svelte"
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - rails_vite_inertia_svelte:/var/lib/postgresql/data
volumes:
  rails_vite_inertia_svelte:
